@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Inter */

:root {  
    /* CMS COLOURS */
    --cms-primary: #afd18a; /* Pale Green */
    --cms-secondary: #8cb88e; /* Blue Green */
    --cms-tertiary: #0a5749; /* Sea Green */
    --cms-light-grey: #ECF0F1; /* Light Grey */
    --cms-black: #000000; /* Black */
    --cms-white: #FFFFFF; /* White */ 
    
    /* CMS Font */
    --cms-font-main: "Inter", sans-serif;
}


/* CRM STYLING */
.crm-header {
    text-transform: capitalize;
    border-bottom: 1px solid var(--black);
}

/* CMS STYLES */
.cms {
    font-family: var(--cms-font-main);
}
.cms h1 {
    font-weight: 600;
    font-size: 2.25rem;
}
.cms h2 {
    font-size: 1.75rem;
}