@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Inter */

:root {  
    /* CMS COLOURS */
    --cms-primary: #afd18a; /* Pale Green */
    --cms-secondary: #8cb88e; /* Blue Green */
    --cms-tertiary: #0a5749; /* Sea Green */
    --cms-light-grey: #ECF0F1; /* Light Grey */
    --cms-dark-grey: #434343; /* Dark Grey */
    --cms-black: #000000; /* Black */
    --cms-white: #FFFFFF; /* White */ 
    --cms-background: var(--cms-white);
    --cms-border: var(--cms-black);

    
    /* CMS Font */
    --cms-font-main: "Inter", sans-serif;
}

html.dark {
    --cms-background: var(--cms-dark-grey);
    --cms-border: var(--cms-white);
}

/* CRM STYLING */
.crm-header {
    text-transform: capitalize;
    border-bottom: 1px solid var(--cms-black);
}

/* CMS STYLES */
.cms {
    font-family: var(--cms-font-main);
}
.cms h1 {
    font-weight: 600;
    font-size: 2.25rem;
}
.cms h2 {
    font-size: 1.75rem;
}

.cms-btn-default,
.cms-btn-alt {
    border: 2px solid var(--cms-black);
    padding: 4px 8px;
    border-radius: 6px;
    background-color: var(--cms-white);
    color: var(--cms-black);
    transition: 0.2s ease;
    text-align: center;
}
.cms-btn-alt {
    border-color: var(--cms-tertiary);
    color: var(--cms-white);
    background-color: var(--cms-tertiary);
}

@media (hover:hover) {
    .cms-btn-default:hover {
        background-color: var(--cms-tertiary);
        border-color: var(--cms-tertiary);
        color: var(--cms-white);
    }
    .cms-btn-alt:not(.no-hover):hover {
        border-color: var(--cms-black);
        background-color: var(--cms-white);
        color: var(--cms-black);
    }
}


.upload-label {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--cms-tertiary);
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;

  &:focus {
    outline: 2px solid var(--cms-black);
  }
}

.hidden-file-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.new-layout,
.cancel-new-image,
.cancel-update-slide,
.cancel-image-grid,
.cancel-product,
.cms-btn-default:last-of-type {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 20px;
  background-color: var(--cms-tertiary);
  color: var(--white);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3px;
  transition: all 0.25s ease;
  border-radius: 0;
  border: 1px solid var(--cms-black);
  border-bottom: none;
  z-index: 99;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
}

.image-preview-con {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

  .preview-image {
    max-width: 150px;
    max-height: 100px;
  }
}

.form-actions {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.toggle-new-img {
  aspect-ratio: 1 / 1;
  height: 100%;
  border: 1px solid var(--cms-black);

  svg {
    box-shadow: 0px 0px 3px var(--cms-black);
    padding: 10px;
    color: var(--cms-black);
  }
}

/* ===================== */
/* === Dark Mode CSS === */
/* ===================== */

dark .cms #newBlogPostModal,
.dark .edit-content-page {
  .form.new-image,
  .image-grid {
    background-color: var(--cms-dark-grey);
  }

  .toggle-new-img svg {
    box-shadow: 0px 0px 3px var(--cms-white);
    color: var(--cms-white);
  }
}

html.dark {
  .edit-content-page {
    .modal-content .tab-inners .slide-box .slide-item.chosen .slide-card {
      color: var(--cms-black);
    }

    .edit-footer-wrap .wrap {
      background-color: var(--cms-dark-grey);
    }
  }
}

/* =========================== */
/* === CMS Layout & Pages === */
/* =========================== */

.cms {
  .main-content {
    .form.new-image.edit-page-info {
      .form-field {
        @extend .form-field;
      }
      .form-actions {
        @extend .form-actions;
      }
    }

    .hidden-file-input {
      @extend .hidden-file-input;
    }

    .upload-label {
      @extend .upload-label;
    }
  }

  .crm-header-wrap .double-btn {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    button {
      position: relative;
    }
  }

  .new-layout-info .new-layout {
    @extend .new-layout;
  }
}

.edit-content-page {
  .tab-inners {
    z-index: 999;
  }

  .image-grid {
    grid-template-columns: repeat(3, 1fr);
    height: unset;
    bottom: 64px;
    z-index: 10;

    .toggle-new-img {
      @extend .toggle-new-img;
    }

    .form.new-image {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 64px;
      padding: 20px;

      .form-inner {
        .form-field {
          @extend .form-field;
        }

        .form-actions {
          @extend .form-actions;
        }
      }
    }
  }

  .cancel-new-image,
  .cancel-update-slide {
    @extend .cancel-new-image;
  }

  .edit-widget {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    bottom: 64px;
    background-color: var(--background-colour);
    z-index: 999;

    .form-actions.btn-row {
      @extend .form-actions;
      z-index: 0;
    }

    .form-slide-image .image-grid {
      bottom: 64px;
    }

    .cancel-image-grid {
      @extend .cancel-new-image;
    }
  }

  .modal-content {
    background-color: var(--background-colour);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 64px;
    width: 100%;
    z-index: 999;
    overflow: scroll;

    .tab-inners .form-new-widget {
      .form-field {
        @extend .form-field;
      }

      .form-actions {
        @extend .form-actions;
      }

      section.form-field .slide-list .slide-card {
        width: 100%;

        img {
          border: 1px solid var(--background-colour);
          height: 50px;
          width: 50px;
        }

        .slide-info {
          width: 100%;
          justify-content: space-between;
        }
      }
    }

    .slides-buttons button:last-of-type {
      @extend .cancel-new-image;
    }
  }

  .edit-footer-wrap {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: scroll;

    .image-grid {
      z-index: 100;
    }

    .wrap {
      padding: 20px;
      background-color: var(--cms-white);
      display: flex;
      flex-direction: column;
      gap: 5px;

      ul {
        margin-bottom: 20px;
        border-bottom: 1px solid var(--cms-black);
        padding-bottom: 16px;
      }

      button {
        max-width: 160px;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .form-group {
          display: flex;
          gap: 10px;
          text-transform: capitalize;
        }
      }
    }
  }

  .footer-cta,
  .current-ctas {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .current-ctas .cta-line {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

#app .layout.cms .main-content {
  .crm-page #newProductForm {
    padding-bottom: 80px;

    .form-field,
    .item-block,
    .item-block div {
      display: flex;
      flex-direction: column;
    }

    .cancel-product {
      @extend .cancel-new-image;
    }
  }

  .page-wrap .page-left .new-crm-item .form-inner {
    .cms-btn-default:last-of-type {
      @extend .cancel-new-image;
    }

    .prices-section .cms-btn-default {
      position: static;
      padding: 4px;
      border-bottom: 1px solid var(--cms-black);
    }
  }
}